@import 'assets/css/common.css';

input::placeholder {
  color: #c4c4c4;
}
/* custom css */
.form-label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}
.error,
.rfui-error {
  color: red;
}
.form-heading {
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 50px;
}
.input-block {
  margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
  .input-block {
    margin-bottom: 20px;
  }
}
.input-block input[type='text'],
.input-block input[type='email'],
.input-block input[type='tel'],
.input-block select {
  width: 100%;
  border: 1px solid #c4c4c4;
  padding: 17px 20px;
  border-radius: 4px;
}
.react-phonenr-input .flag-wrapper {
  width: 160px;
  background: transparent;
  border: 1px solid black;
  margin-right: 36px;
}
.react-phonenr-input input {
  height: unset;
}
.button {
  cursor: pointer;
  border: 1px solid transparent;
  color: black;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  min-width: 240px;
  padding: 17px;
  border-radius: 5px;
}
.signup {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #f7f7f7;
}
.step-title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.step-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #c4c4c4;
  max-width: 130px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.step-number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  background: #c4c4c4;
  color: white;
  font-size: 12px;
  position: relative;
}
.step-title.finished .step-text{
  color: #4126CF;
  font-weight: bold;
}
.step-title.finished .step-number{
  background-color: #F89944;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='10' viewBox='0 0 14 10' fill='none'%3E%3Cpath d='M1 3.58065L3.39968 7.19307C3.89815 7.94345 4.14738 8.31864 4.50787 8.41795C4.60904 8.44582 4.71398 8.45759 4.81881 8.45283C5.19234 8.43587 5.51851 8.12523 6.17085 7.50395L13 1' stroke='%234126CF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 3.58065L3.39968 7.19307C3.89815 7.94345 4.14738 8.31864 4.50787 8.41795C4.60904 8.44582 4.71398 8.45759 4.81881 8.45283C5.19234 8.43587 5.51851 8.12523 6.17085 7.50395L13 1' stroke='%2371E3C7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 3.58065L3.39968 7.19307C3.89815 7.94345 4.14738 8.31864 4.50787 8.41795C4.60904 8.44582 4.71398 8.45759 4.81881 8.45283C5.19234 8.43587 5.51851 8.12523 6.17085 7.50395L13 1' stroke='%234024CD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
}
.step-title.active .step-number{
  background-color: #4126CF;
  border: 1px solid #F89944;
  color: #F89944;
}

.step-title.active .step-text{
  color: #4126CF;
  font-weight: bold;
}
.step-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
  padding: 12px;
  border-radius: 150px;
  background-color: #e2e2e2;
  margin-top: 60px;
}
.step-progress {
  display: none;
}
@media screen and (min-width: 993px) {
  .step-progress {
    display: block;
    background-color: #4126CF;
    height: calc(100% - 12px);
    position: absolute;
    top: 6px;
    bottom: 0;
    left: 6px;
    right: 6px;
    border-radius: 100px;
    max-width: 4%;
  }
  .step-progress[data-process="50"] {
    max-width: 35.5%;
  }
  .step-progress[data-process="75"] {
    max-width: 67%;
  }
  .step-progress[data-process="100"] {
    max-width: 99%;
  }
}
.radio-options .radio-option input {
  position: absolute;
  visibility: hidden;
}
.radio-options .radio-option input::before {
  content: '';
  visibility: visible;
  width: 100%;
  height: 100%;
  display: block;
}
.radio-options .radio-option input:checked + label {
  border-color: #4024cd;
  color: #4024cd;
}
.radio-options .radio-option input:checked + label::before {
  opacity: 1;
}
.radio-options .radio-option label::before {
  content: '';
  position: absolute;
  z-index: 9;
  width: 14px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  right: calc(50% + 30px);
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='10' viewBox='0 0 14 10' fill='none'%3E%3Cpath d='M1 3.58065L3.39968 7.19307C3.89815 7.94345 4.14738 8.31864 4.50787 8.41795C4.60904 8.44582 4.71398 8.45759 4.81881 8.45283C5.19234 8.43587 5.51851 8.12523 6.17085 7.50395L13 1' stroke='%234126CF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 3.58065L3.39968 7.19307C3.89815 7.94345 4.14738 8.31864 4.50787 8.41795C4.60904 8.44582 4.71398 8.45759 4.81881 8.45283C5.19234 8.43587 5.51851 8.12523 6.17085 7.50395L13 1' stroke='%2371E3C7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 3.58065L3.39968 7.19307C3.89815 7.94345 4.14738 8.31864 4.50787 8.41795C4.60904 8.44582 4.71398 8.45759 4.81881 8.45283C5.19234 8.43587 5.51851 8.12523 6.17085 7.50395L13 1' stroke='%234024CD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}
.radio-options .radio-option label {
  color: #737373;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  display: block;
}
.radio-options.inline {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 16px;
}
.radio-options.inline .radio-option {
  flex: 1 auto;
}
.break-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}
.plus-icon {
  font-size: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3E%3Crect y='9.37012' width='20.0789' height='1.33859' rx='0.669295' fill='%234024CD'/%3E%3Crect x='10.708' width='20.0789' height='1.33859' rx='0.669295' transform='rotate(90 10.708 0)' fill='%234024CD'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.add-group {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #4024cd;
  cursor: pointer;
}
.add-group.disable {
  color: #C4C4C4;
}
.add-group .plus-icon {
  margin-right: 10px;
}
.break {
  border-bottom: 1px solid #4126cf;
}
.icon-delete {
  display: inline-block;
  width: 29px;
  height: 29px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29' fill='none'%3E%3Crect x='7.54297' y='5.89253' width='21' height='2.33333' rx='1.16667' transform='rotate(45 7.54297 5.89253)' fill='black' stroke='black'/%3E%3Crect x='22.3917' y='7.54242' width='21' height='2.33333' rx='1.16667' transform='rotate(135 22.3917 7.54242)' fill='black' stroke='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.preview-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.preview-table tr {
  border-bottom: 0.5px solid #737373;
}
.preview-table td {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 0.5px solid #737373;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  vertical-align: top;
}
/* landing-page */
.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing-page-ill {
  max-width: 329px;
  margin-bottom: 32px;
}
.landing-page-content {
  max-width: 800px;
  text-align: center;
}
.landing-page-heading {
  margin-bottom: 20px;
}
.landing-page-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 30px;
}
.text-decoration-none {
  text-decoration: none;
}
.landing-page-button a {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.landing-page-button-home {
  border-color: black;
  margin-right: 50px;
}
.landing-page-button-signup {
  display: inline-block;
  min-width: 250px;
  background-color: #ed5e58;
  color: white;
}
@media screen and (max-width: 767px) {
  .landing-page-button  {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 16px;
    padding-right: 16px;
  }
  .landing-page-button-home {
    margin-right: 0px;
    margin-top: 12px;
  }
}
.container-1140 {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}
.container-930 {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
}
.box {
  background-color: white;
  border-radius: 10px;
  padding: 55px 74px;
}
@media screen and (max-width: 992px) {
  .box {
    padding: 32px 16px;
  }
}
/* signup */
.smp-signup-breadcrumb {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-top: 0;
}
.tooltip-archor {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  text-transform: none;
  font-weight: normal;
  color: #4024cd;
}
.tooltip-archor::before {
  content: '';
  right: calc(100% + 10px);
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_41_3)'%3E%3Cpath d='M6.684 3.48C6.684 3.28 6.752 3.12 6.888 3C7.024 2.872 7.204 2.808 7.428 2.808C7.652 2.808 7.832 2.872 7.968 3C8.104 3.12 8.172 3.28 8.172 3.48C8.172 3.68 8.104 3.844 7.968 3.972C7.832 4.092 7.652 4.152 7.428 4.152C7.204 4.152 7.024 4.092 6.888 3.972C6.752 3.844 6.684 3.68 6.684 3.48ZM7.968 5.412V12H6.876V5.412H7.968Z' fill='%234126CF'/%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%234024CD'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_41_3'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.signup-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 36px;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.signup-button {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
  max-width: 370px;
  cursor: pointer;
}
.backButton {
  border-color: black;
  background-color: white;
}
.nextButton {
  background-color: black;
  color: white;
}
.formTitle {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
}
.addable-section-title {
  padding-bottom: 7px;
  border-bottom: 1px solid #4126cf;
  margin-bottom: 40px;
}
.addable-section-remove {
  color: red;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  cursor: pointer;
}
.subtitle3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}
/* term */
.term-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  border-bottom: 1px solid #4126CF;
  margin-bottom: 40px;
}
.term-block h5 * {
  font-size: 14px;
  line-height: 149%;
}
.term-block h5 >span:first-child {
  display: inline-block;
  padding-right: 6px;
}
.term-block-sub {
  margin-bottom: 16px;
}
.term-block-sub-2 {
  margin-bottom: 8px;
  padding-left: 16px;
}
.term-block-sub >span:first-child {
  display: inline-block;
  padding-right: 6px;
}
.term-block-sub-2 >span:first-child {
  display: inline-block;
  padding-right: 6px;
}
.time-picker input::-webkit-calendar-picker-indicator {
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7' fill='none'%3E%3Cpath d='M5.46967 6.53033C5.76256 6.82322 6.23744 6.82322 6.53033 6.53033L11.3033 1.75736C11.5962 1.46447 11.5962 0.989592 11.3033 0.696699C11.0104 0.403806 10.5355 0.403806 10.2426 0.696699L6 4.93934L1.75736 0.696699C1.46447 0.403806 0.989592 0.403806 0.696699 0.696699C0.403806 0.989593 0.403806 1.46447 0.696699 1.75736L5.46967 6.53033ZM5.25 5L5.25 6L6.75 6L6.75 5L5.25 5Z' fill='%23010101'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}